In [2]:
# Imports
import os
import numpy as np
import pandas as pd
from collections import Counter
import matplotlib.pyplot as plt

In [63]:
data = pd.read_csv('../data/3m.tsv', delimiter='\t')

/opt/conda/envs/reaction-workbench-env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3135: DtypeWarning: Columns (5,6,7,8,9,10,11,12,13,14,16,17,18,19,20,21,22,23,24,25,26) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [64]:
df=data

In [65]:
df

,CLASS-ID,RX.ID,#reactants,#products,REACTANT1,REACTANT2,REACTANT3,REACTANT4,REACTANT5,REACTANT6,...,PRODUCT3,PRODUCT4,PRODUCT5,PRODUCT6,PRODUCT7,PRODUCT8,PRODUCT9,PRODUCT10,PRODUCT11,PRODUCT12
0,"272, 327, 1128, 1226",20308219,1,1,CC1(C)O[C@H]2[C@H]3C[C@@H]([C@H]2O1)C(=O)C3,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,84,20308266,1,1,CC(=O)OC(\C=C\c1ccccc1)C#N,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,68,20308388,1,1,CC1(C)O[C@H]2[C@H](OC(=O)[C@H]2O1)[C@@H](O)CO,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1872,20308549,1,1,O=Cc1ccccc1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,636,20308813,1,1,ClC(=O)c1ccccc1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3060187,72,20308054,1,1,CCc1ccc2c3ccc4c(OC(C)=O)ccc([C@@H]5O[C@H](COC(...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3060188,42,20308093,1,1,CC1(C)C2CC1C(=C)CC2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3060189,42,20308094,1,1,CC1(C)C2CC1C(=C)CC2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3060190,256,20308164,1,1,COC(=O)CCC[C@H](O)C=CBr,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3060191,670,20308180,1,1,C[C@@H](OC(C)=O)\C=C\[C@H](C)OC(C)=O,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Remove Big Reactions

In [68]:
# Filter out rows where the number of reactants or products is more than 2
df = df[(df['#reactants'] <= 2) & (df['#products'] <= 2)]

In [66]:
df_bigreactions = df[(df['#reactants'] >= 3) | (df['#products'] >= 3)]

In [67]:
df_bigreactions

,CLASS-ID,RX.ID,#reactants,#products,REACTANT1,REACTANT2,REACTANT3,REACTANT4,REACTANT5,REACTANT6,...,PRODUCT3,PRODUCT4,PRODUCT5,PRODUCT6,PRODUCT7,PRODUCT8,PRODUCT9,PRODUCT10,PRODUCT11,PRODUCT12
75736,461,8937072,2,3,CCO,O=c1ccccn1OCc1c2ccccc2cc2ccccc12,NaN,NaN,NaN,NaN,...,O=Cc1c2ccccc2cc2ccccc12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75789,"129, 1726",8937440,1,4,OC[C@@H](O)[C@@H](O)[C@H](O)[C@@H](O)C=O,NaN,NaN,NaN,NaN,NaN,...,[Na+].O[C@@H]([C@H](O)C([O-])=O)C([O-])=O,[Na+].O[C@@H]([C@H](O)[C@@H](O)C([O-])=O)[C@H]...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75808,72,8937608,1,4,CCCC(C)C,NaN,NaN,NaN,NaN,NaN,...,CC=CC(C)C,CC(C)CC=C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75834,231,8937988,3,1,NC#N,OS(=O)(=O)C(F)(F)F,O[C@H]1C[C@H]2CC[C@@H]1C2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75852,247,8938058,2,3,FC(F)(F)CCl,OCC(F)(F)F,NaN,NaN,NaN,NaN,...,FC(F)(F)COCC(F)(F)F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3035889,"1085, 1824",22879686,2,3,CC(C)S(=O)(=O)NC[C@H](C)c1ccc(I)cc1,CS(=O)(=O)NCCc1ccc(cc1)B(O)O,NaN,NaN,NaN,NaN,...,C[C@H](Cc1ccc(cc1)-c1ccc(cc1)[C@@H](C)CNS(=O)(...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3036018,432,22880592,3,2,C[C@H]1C[C@@H](CCN1)c1c[nH]c2cc(F)ccc12,C[C@@H]1C[C@H](CCN1)c1c[nH]c2cc(F)ccc12,CC(C)N1Cc2cc(ccc2N(CCCl)S1(=O)=O)S(C)(=O)=O,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3036019,432,22880595,3,2,CC(C)N1Cc2cc(ccc2N(CCCl)S1(=O)=O)S(C)(=O)=O,C[C@@H]1C[C@H](CCN1)c1c[nH]c2c(F)c(F)ccc12,C[C@H]1C[C@@H](CCN1)c1c[nH]c2c(F)c(F)ccc12,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3036096,"353, 751",22881142,1,3,Oc1ccc2CCCCc2c1,NaN,NaN,NaN,NaN,NaN,...,Oc1c(cc2CCCCc2c1N(=O)=O)N(=O)=O,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3036134,1016,22881549,1,3,COC(=O)c1cnc(OC)c(OC2CCCC2)c1,NaN,NaN,NaN,NaN,NaN,...,CSc1ncc(cc1OC1CCOC1)C(O)=O,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#df_bigreactions.to_csv('big_reactions.csv', index=False)

### Remove Rare Reactions

In [69]:
# Convert multi Class-ID into one
def clean_class_id(row):
    # Split the string by comma and convert to a list
    class_ids = str(row['CLASS-ID']).split(',')
    # Return the first element from the list, ensuring it's an integer
    return int(class_ids[0].strip())

# Apply the function to the 'CLASS-ID' column
df['CLASS-ID'] = df.apply(clean_class_id, axis=1)

/tmp/ipykernel_7687/1979647533.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['CLASS-ID'] = df.apply(clean_class_id, axis=1)

In [70]:
df_exploded = df.explode('CLASS-ID')

In [71]:
#Count the occurrences of each CLASS-ID
class_counts = df_exploded['CLASS-ID'].value_counts()
rare_classes = class_counts[class_counts < 10].index.tolist()

In [72]:
# Filter out rows with rare CLASS-IDs
df_filtered = df_exploded[~df_exploded['CLASS-ID'].isin(rare_classes)]

In [73]:
df_rare= df_exploded[df_exploded['CLASS-ID'].isin(rare_classes)]

In [74]:
df_rare

,CLASS-ID,RX.ID,#reactants,#products,REACTANT1,REACTANT2,REACTANT3,REACTANT4,REACTANT5,REACTANT6,...,PRODUCT3,PRODUCT4,PRODUCT5,PRODUCT6,PRODUCT7,PRODUCT8,PRODUCT9,PRODUCT10,PRODUCT11,PRODUCT12
844,1801,20386421,1,1,CCCCC(=O)c1ccccc1Br,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13280,1181,18714586,1,1,OCCCNC(c1ccccc1)(c1ccccc1)c1ccccc1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15139,123,18891555,1,1,COc1ccc2[C@H]3[C@@H](COCCO)C[C@@]4(C)[C@@H](CC...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21495,1252,18011489,1,1,Oc1cccc2C(=O)c3cccc(O)c3C(=O)c12,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26753,173,18567942,1,1,CN(C)Cc1cccc2cccc([SiH2]c3ccccc3)c12,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3046012,1252,21982688,1,1,O=C1c2ccccc2C(=O)c2ccccc12,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3048302,1214,22099597,1,1,CC(CC1CC(C)CCC1O)c1ccccc1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3050496,1764,22195294,1,1,COc1cc(CC=C)c(NC(C)=O)cc1OC,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3054458,1764,21264111,1,1,C\C=C\c1ccccc1NC(C)=O,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3059336,1600,20218368,1,1,C[C@@H]1CCCC2=C1CCC(=O)N2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df_filtered['CLASS-ID'].value_counts()

1085    228470
432     204496
1016    139711
60      106567
433      74955
         ...
240         10
1077        10
824         10
1328        10
882         10
Name: CLASS-ID, Length: 1299, dtype: int64

In [15]:
# Convert CLASS-ID back to a string if it's currently a list
#df_filtered['CLASS-ID'] = df_filtered['CLASS-ID'].apply(lambda x: ', '.join(x) if isinstance(x, list) else x)

In [17]:
df_filtered

,CLASS-ID,RX.ID,#reactants,#products,REACTANT1,REACTANT2,REACTANT3,REACTANT4,REACTANT5,REACTANT6,...,PRODUCT3,PRODUCT4,PRODUCT5,PRODUCT6,PRODUCT7,PRODUCT8,PRODUCT9,PRODUCT10,PRODUCT11,PRODUCT12
0,272,20308219,1,1,CC1(C)O[C@H]2[C@H]3C[C@@H]([C@H]2O1)C(=O)C3,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,84,20308266,1,1,CC(=O)OC(\C=C\c1ccccc1)C#N,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,68,20308388,1,1,CC1(C)O[C@H]2[C@H](OC(=O)[C@H]2O1)[C@@H](O)CO,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1872,20308549,1,1,O=Cc1ccccc1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,636,20308813,1,1,ClC(=O)c1ccccc1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3060187,72,20308054,1,1,CCc1ccc2c3ccc4c(OC(C)=O)ccc([C@@H]5O[C@H](COC(...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3060188,42,20308093,1,1,CC1(C)C2CC1C(=C)CC2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3060189,42,20308094,1,1,CC1(C)C2CC1C(=C)CC2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3060190,256,20308164,1,1,COC(=O)CCC[C@H](O)C=CBr,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3060191,670,20308180,1,1,C[C@@H](OC(C)=O)\C=C\[C@H](C)OC(C)=O,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Combine reactants with products

In [7]:
def combine_reactants_products(row):
    reactants = '.'.join(filter(lambda x: not pd.isnull(x), [row['REACTANT1'], row['REACTANT2']]))
    products = '.'.join(filter(lambda x: not pd.isnull(x), [row['PRODUCT1'], row['PRODUCT2']]))
    return f"{reactants}>>{products}"

In [19]:
df_filtered['reaction'] = df_filtered.apply(combine_reactants_products, axis=1)

/tmp/ipykernel_7687/134776504.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['reaction'] = df_filtered.apply(combine_reactants_products, axis=1)

In [20]:
df_filtered

,CLASS-ID,RX.ID,#reactants,#products,REACTANT1,REACTANT2,REACTANT3,REACTANT4,REACTANT5,REACTANT6,...,PRODUCT4,PRODUCT5,PRODUCT6,PRODUCT7,PRODUCT8,PRODUCT9,PRODUCT10,PRODUCT11,PRODUCT12,reaction
0,272,20308219,1,1,CC1(C)O[C@H]2[C@H]3C[C@@H]([C@H]2O1)C(=O)C3,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CC1(C)O[C@H]2[C@H]3C[C@@H]([C@H]2O1)C(=O)C3>>C...
1,84,20308266,1,1,CC(=O)OC(\C=C\c1ccccc1)C#N,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CC(=O)OC(\C=C\c1ccccc1)C#N>>CC(=O)OC(CC(=O)c1c...
2,68,20308388,1,1,CC1(C)O[C@H]2[C@H](OC(=O)[C@H]2O1)[C@@H](O)CO,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CC1(C)O[C@H]2[C@H](OC(=O)[C@H]2O1)[C@@H](O)CO>...
3,1872,20308549,1,1,O=Cc1ccccc1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,O=Cc1ccccc1>>CC(C)NC(=S)c1ccccc1
4,636,20308813,1,1,ClC(=O)c1ccccc1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ClC(=O)c1ccccc1>>CCOC(=O)C(F)(F)[C@H](OC(=O)c1...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3060187,72,20308054,1,1,CCc1ccc2c3ccc4c(OC(C)=O)ccc([C@@H]5O[C@H](COC(...,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CCc1ccc2c3ccc4c(OC(C)=O)ccc([C@@H]5O[C@H](COC(...
3060188,42,20308093,1,1,CC1(C)C2CC1C(=C)CC2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CC1(C)C2CC1C(=C)CC2>>C[C@H]1CC[C@H]2C[C@@H]1C2...
3060189,42,20308094,1,1,CC1(C)C2CC1C(=C)CC2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CC1(C)C2CC1C(=C)CC2>>C[C@@H]1CC[C@H]2C[C@@H]1C...
3060190,256,20308164,1,1,COC(=O)CCC[C@H](O)C=CBr,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,COC(=O)CCC[C@H](O)C=CBr>>COC(=O)CCC[C@H](O)C#C
3060191,670,20308180,1,1,C[C@@H](OC(C)=O)\C=C\[C@H](C)OC(C)=O,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C[C@@H](OC(C)=O)\C=C\[C@H](C)OC(C)=O>>COC(=O)O...

### Remove unrelevant coloumns

In [21]:
df_total=df_filtered[['CLASS-ID','RX.ID','REACTANT1','REACTANT2','PRODUCT1','PRODUCT2','reaction']]

In [22]:
df_total['product_summary'] = df_total['PRODUCT1'].fillna('') + df_total['PRODUCT2'].fillna('')

/tmp/ipykernel_7687/3592978022.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_total['product_summary'] = df_total['PRODUCT1'].fillna('') + df_total['PRODUCT2'].fillna('')

In [23]:
df_presplit=df_total[['CLASS-ID','RX.ID','reaction','product_summary']]

### Show some info about the reactions with same products

In [24]:
unique_products = df_presplit.groupby('product_summary').ngroup()

In [26]:
product_counts = df_presplit.groupby('product_summary').size()

In [27]:
print(product_counts[product_counts > 1])

product_summary
*N1CCN(CC1)c1ccccc1[N+]#N                                                            2
B.C(CP1Cc2ccc3ccccc3c2-c2c(C1)ccc1ccccc21)N1Cc2ccc3ccccc3c2-c2c(C1)ccc1ccccc21       2
B.C(CP1Cc2ccc3ccccc3c2-c2c(C1)ccc1ccccc21)P1Cc2ccc3ccccc3c2-c2c(C1)ccc1ccccc21       2
B.C(O[C@@H]1[C@H](Cc2ccccc2)P([C@@H](Cc2ccccc2)[C@H]1OCc1ccccc1)c1ccccc1)c1ccccc1    2
B.C1C[C@@H]([C@@H]2CCC[C@@H]2P(c2ccccc2)c2ccccc2)[C@H](C1)P(c1ccccc1)c1ccccc1        4
                                                                                    ..
c1sc2ccccc2c1-c1ccc2ccccc2c1                                                         2
c1sc2ccccc2c1-c1cccc2c3ccccc3sc12                                                    2
c1sc2ccccc2c1-c1ccccc1                                                               7
c1sc2ccccc2c1-c1cncc2ccccc12                                                         3
c1sc2ccccc2c1-c1nc2ccccc2s1                                                          2
Length: 204157, dtype: int64

In [57]:
df_presplit.duplicated(subset=['CLASS-ID', 'product_summary']).sum()

193666

In [58]:
df_presplit.duplicated(subset=['product_summary']).sum()

298087

### Split dataset

In [29]:
df_presplit

,CLASS-ID,RX.ID,reaction,product_summary
0,272,20308219,CC1(C)O[C@H]2[C@H]3C[C@@H]([C@H]2O1)C(=O)C3>>C...,CC1(C)O[C@H]2[C@H]3C[C@H](NC(=O)C3)[C@H]2O1
1,84,20308266,CC(=O)OC(\C=C\c1ccccc1)C#N>>CC(=O)OC(CC(=O)c1c...,CC(=O)OC(CC(=O)c1ccccc1)C#N
2,68,20308388,CC1(C)O[C@H]2[C@H](OC(=O)[C@H]2O1)[C@@H](O)CO>...,C[C@H](O)[C@H]1OC(=O)[C@H]2OC(C)(C)O[C@@H]12
3,1872,20308549,O=Cc1ccccc1>>CC(C)NC(=S)c1ccccc1,CC(C)NC(=S)c1ccccc1
4,636,20308813,ClC(=O)c1ccccc1>>CCOC(=O)C(F)(F)[C@H](OC(=O)c1...,CCOC(=O)C(F)(F)[C@H](OC(=O)c1ccccc1)[C@H](O)CO
...,...,...,...,...
3060187,72,20308054,CCc1ccc2c3ccc4c(OC(C)=O)ccc([C@@H]5O[C@H](COC(...,CC(=O)OC[C@H]1O[C@H]([C@H](OC(C)=O)[C@@H]1OC(C...
3060188,42,20308093,CC1(C)C2CC1C(=C)CC2>>C[C@H]1CC[C@H]2C[C@@H]1C2...,C[C@H]1CC[C@H]2C[C@@H]1C2(C)C
3060189,42,20308094,CC1(C)C2CC1C(=C)CC2>>C[C@@H]1CC[C@H]2C[C@@H]1C...,C[C@@H]1CC[C@H]2C[C@@H]1C2(C)C
3060190,256,20308164,COC(=O)CCC[C@H](O)C=CBr>>COC(=O)CCC[C@H](O)C#C,COC(=O)CCC[C@H](O)C#C
3060191,670,20308180,C[C@@H](OC(C)=O)\C=C\[C@H](C)OC(C)=O>>COC(=O)O...,COC(=O)O[C@@H](C)\C=C\[C@@H](C)OC(C)=O

In [30]:
from sklearn.model_selection import train_test_split

In [31]:
unique_products = df_presplit['product_summary'].unique()

In [48]:
stratify_df = df_presplit.drop_duplicates(subset=['CLASS-ID', 'product_summary'])

In [49]:
stratify_df['CLASS-ID'].value_counts()

1085    217474
432     177539
1016    128544
60      103601
433      71250
         ...
1576         7
1622         7
1719         6
1800         5
1406         5
Name: CLASS-ID, Length: 1299, dtype: int64

In [52]:
stratify_df

,CLASS-ID,RX.ID,reaction,product_summary
0,272,20308219,CC1(C)O[C@H]2[C@H]3C[C@@H]([C@H]2O1)C(=O)C3>>C...,CC1(C)O[C@H]2[C@H]3C[C@H](NC(=O)C3)[C@H]2O1
1,84,20308266,CC(=O)OC(\C=C\c1ccccc1)C#N>>CC(=O)OC(CC(=O)c1c...,CC(=O)OC(CC(=O)c1ccccc1)C#N
2,68,20308388,CC1(C)O[C@H]2[C@H](OC(=O)[C@H]2O1)[C@@H](O)CO>...,C[C@H](O)[C@H]1OC(=O)[C@H]2OC(C)(C)O[C@@H]12
3,1872,20308549,O=Cc1ccccc1>>CC(C)NC(=S)c1ccccc1,CC(C)NC(=S)c1ccccc1
4,636,20308813,ClC(=O)c1ccccc1>>CCOC(=O)C(F)(F)[C@H](OC(=O)c1...,CCOC(=O)C(F)(F)[C@H](OC(=O)c1ccccc1)[C@H](O)CO
...,...,...,...,...
3060182,320,20307607,CC=CCN1[C@H](COS(C)(=O)=O)CCC1=O>>CC[C@H]1C[C@...,CC[C@H]1C[C@@H]2CCC(=O)N2C1
3060184,320,20307792,CS(=O)(=O)OC[C@@H]1CCC(=O)N1C1CCCC=C1>>O=C1CC[...,O=C1CC[C@H]2C[C@@H]3CCCCC3N12
3060186,72,20307913,CC(C)CCC[C@@H](C)[C@H]1CC[C@H]2[C@@H]3C[C@@H](...,CC(C)CCC[C@@H](C)[C@H]1CC[C@H]2[C@@H]3C=C(OC(C...
3060187,72,20308054,CCc1ccc2c3ccc4c(OC(C)=O)ccc([C@@H]5O[C@H](COC(...,CC(=O)OC[C@H]1O[C@H]([C@H](OC(C)=O)[C@@H]1OC(C...
3060190,256,20308164,COC(=O)CCC[C@H](O)C=CBr>>COC(=O)CCC[C@H](O)C#C,COC(=O)CCC[C@H](O)C#C

In [53]:
# Stratify by 'CLASS-ID' to ensure at least one example of every class in the training/test/val set.
# Split the stratify_df into training+val and test datasets for further splitting.
trainAndVal_df, test_df = train_test_split(
    stratify_df, 
    test_size=0.1,
    stratify=stratify_df['CLASS-ID'],
    random_state=27
)

In [54]:
# Split the temporary set into validation and test sets.
train_df, val_df = train_test_split(
    trainAndVal_df,
    test_size=1/9, 
    stratify=trainAndVal_df['CLASS-ID'],
    random_state=27
)

In [59]:
len(train_df), len(val_df), len(test_df)

(2209000, 276125, 276125)

In [60]:
# Assign the rest of the data with the same products to the corresponding sets.
train_df = df_presplit[df_presplit['product_summary'].isin(train_df['product_summary'])]
val_df = df_presplit[df_presplit['product_summary'].isin(val_df['product_summary'])]
test_df = df_presplit[df_presplit['product_summary'].isin(test_df['product_summary'])]

# The lengths of each dataset will give us the distribution.
len(train_df), len(val_df), len(test_df)

(2405606, 331181, 330810)

In [39]:
#Make sure all the sets have all the classes
print(train_df['CLASS-ID'].nunique())
print(val_df['CLASS-ID'].nunique())
print(test_df['CLASS-ID'].nunique())

1299
1299
1299

In [40]:
train_df['CLASS-ID'].value_counts()

1085    185024
432     164914
1016    113635
60       85921
433      60554
         ...
1345         8
1138         8
1404         7
500          7
1622         7
Name: CLASS-ID, Length: 1299, dtype: int64

In [41]:
test_df['CLASS-ID'].value_counts()

1085    24966
432     21259
1016    15507
60      11185
433      7977
        ...
881         1
500         1
622         1
1133        1
121         1
Name: CLASS-ID, Length: 1299, dtype: int64

In [42]:
val_df['CLASS-ID'].value_counts()

1085    24867
432     21286
1016    15637
60      11171
433      7907
        ...
1145        1
1146        1
1110        1
598         1
465         1
Name: CLASS-ID, Length: 1299, dtype: int64

In [43]:
train_df.to_csv('../data/train.csv', index=False)
val_df.to_csv('../data/val.csv', index=False)
test_df.to_csv('../data/test.csv', index=False)

In [5]:
rare_reactions = pd.read_csv('../data/rare_reactions.csv', delimiter=',')

In [8]:
rare_reactions['reaction'] = rare_reactions.apply(combine_reactants_products, axis=1)

In [9]:
rare_reactions=rare_reactions[['CLASS-ID','RX.ID','REACTANT1','REACTANT2','PRODUCT1','PRODUCT2','reaction']]
rare_reactions=rare_reactions[['CLASS-ID','RX.ID','reaction']]

In [10]:
rare_reactions

     CLASS-ID     RX.ID                                           reaction
0        1801  20386421        CCCCC(=O)c1ccccc1Br>>CCCC=C1NC(=O)c2ccccc12
1        1181  18714586  OCCCNC(c1ccccc1)(c1ccccc1)c1ccccc1>>C1CN(C1)C(...
2         123  18891555  COc1ccc2[C@H]3[C@@H](COCCO)C[C@@]4(C)[C@@H](CC...
3        1252  18011489  Oc1cccc2C(=O)c3cccc(O)c3C(=O)c12>>Oc1ccc(O)c2C...
4         173  18567942  CN(C)Cc1cccc2cccc([SiH2]c3ccccc3)c12>>CN(C)Cc1...
..        ...       ...                                                ...
799      1252  21982688  O=C1c2ccccc2C(=O)c2ccccc12>>Oc1cccc2C(=O)c3ccc...
800      1214  22099597  CC(CC1CC(C)CCC1O)c1ccccc1>>Cc1ccc2c(c1)cc(C)c1...
801      1764  22195294  COc1cc(CC=C)c(NC(C)=O)cc1OC>>COc1cc2cc(C)[nH]c...
802      1764  21264111            C\C=C\c1ccccc1NC(C)=O>>Cc1cc2ccccc2nc1C
803      1600  20218368  C[C@@H]1CCCC2=C1CCC(=O)N2>>C[C@@H]1CCC[C@@H]2N...

[804 rows x 3 columns]

In [11]:
rare_reactions.to_csv('../data/rare.csv', index=False)